@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  interpolate-size: allow-keywords; /* 👈 */
}

*:not(input) {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.initial {
  all: initial;
}
